.container-app {
  background-color: rgb(37, 36, 36);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  gap: 50px;
  margin: 20px;
  box-sizing: content-box;
  border-radius: 10px;
  user-select: none;
  position: relative;
  overflow-x: hidden;
}

.disc-mini {
  background-color: white;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  padding: 10px;
  padding-top: 20px;
  width: auto;
  border-radius: 10px;
  transition: 500ms ease;
  display: flex;
  align-items: center;
}

.disc-mini .actions {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.disc-mini .actions > .header {
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.disc-mini .actions > h3 {
  margin-top: 10px;
}

.disc-mini .actions > .buttons {
  font-size: 30px;
  position: relative;
  right: 5px;
}

.container-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.card {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  position: relative;
}

.card-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 500ms ease;
}

.card-hover > img {
  cursor: pointer;
}

.card:hover .card-hover {
  opacity: 1;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.image-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.control-music {
  position: fixed;
  width: 70%;
  height: 100px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgb(43, 42, 42);
  border-radius: 10px;
  bottom: 40px;
  z-index: 100;
}

.actions-control {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.actions-control img {
  cursor: pointer;
}

audio {
  display: none;
}

.container-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 20px;
  height: 100px;
  padding: 20px;
}

.container-progress .buttons {
  font-size: 30px;
  color: white;
  display: flex;
}

.buttons > * {
  cursor: pointer;
}

.disc-play {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  animation: rotacionInfinita 5s linear infinite;
  cursor: pointer;
}

.disc-play-loader {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(71, 70, 68);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotacionInfinita {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.disc-play > img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.disc-pause > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.progress {
  width: 90%;
  height: 10px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 649px) {
  .container-app {
    width: 100%;
  }

  .card {
    width: 300px;
  }
}

@media (max-width: 498px) {
  .container-app {
    margin: 0;
  }

  .control-music {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 314px) {
  .card {
    width: 200px;
  }
}
